Repository ovh-ux/ovh-manager-web, pull requests merged in 2018-11, with the labels that each got.

#715 refactor(components.filechange): move to webUniverseComponents
  client/app/hosting/database/import/hosting-database-import.html
  client/app/private-database/database/import/private-database-database-import.html
  client/app/webUniverseComponents/fileChange/file-change.directive.js
  client/app/webUniverseComponents/fileChange/index.js
  client/app/webUniverseComponents/index.js
Labels: :santa: one-manager, quality check ok

#720 refactor(components.hash): remove unused component
  client/app/components/hash/orderObjectBy.js
Labels: :santa: one-manager

#724 refactor(components.ovhevent): remove unused component
  client/app/components/ovhEvent/ovhEvent.js
Labels: :santa: one-manager

#727 refactor(components.polling): remove unused component
  client/app/components/polling/polling.service.js
Labels: :santa: one-manager, enhancement

#725 refactor(components.pbec): move to webUniverseComponents
  client/app/hosting/general-informations/GENERAL_INFORMATIONS.html
  client/app/webUniverseComponents/index.js
  client/app/webUniverseComponents/progressBarElementCounter/index.js
  client/app/webUniverseComponents/progressBarElementCounter/progressBarElementCounter.directive.js
  client/app/webUniverseComponents/progressBarElementCounter/progressBarElementCounter.html
Labels: :santa: one-manager, quality check ok

#731 refactor: update according to the new cache-loader directory
  .gitignore
  package.json
  yarn.lock
Labels: enhancement

#728 refactor(components.paginatedtable): remove unused component
  client/app/components/paginatedTable/paginatedTable.html
  client/app/components/paginatedTable/paginatedTable.js
  client/app/components/paginatedTable/paginatedTableElement.js
  client/app/hosting/templates/CRONS_tableLineTemplate.html
  client/app/hosting/templates/DOMAINS_tableLineTemplate.html
Labels: :santa: one-manager

#737 fix(deps): update manager-webpack-config to v2.4.6
  package.json
  yarn.lock
Labels: bug

#726 refactor(components.ovhfilereader): move to webUniverseComponents
  client/app/components/fileEditor/file-editor.html
  client/app/components/ovhFileReader/ovhFileReader.directive.js
  client/app/domain-operation/update/domain-operation-update.html
  client/app/webUniverseComponents/index.js
  client/app/webUniverseComponents/ovhFileReader/index.js
  client/app/webUniverseComponents/ovhFileReader/ovhFileReader.directive.js
Labels: :santa: one-manager, quality check ok

#722 refactor(components.javaenum): move to webUniverseComponents
  client/app/components/java-enum/java-enum.service.js
  client/app/domains/owo/domains-owo.service.js
  client/app/hosting/database/hosting-database.service.js
  client/app/webUniverseComponents/index.js
  client/app/webUniverseComponents/java-enum/index.js
  client/app/webUniverseComponents/java-enum/java-enum.service.js
Labels: :santa: one-manager, quality check ok

#716 refactor(components.fileeditor): move to webUniverseComponents
  client/app/components/fileEditor/file-editor.css
  client/app/components/fileEditor/file-editor.directive.js
  client/app/core/translations/Messages_fr_FR.xml
  client/app/css/source.less
  client/app/email-domain/mailing-list/moderators/create/email-domain-mailing-list-moderators-create.html
  client/app/email-domain/mailing-list/moderators/delete/email-domain-mailing-list-moderators-delete.html
  client/app/email-domain/mailing-list/subscribers/create/email-domain-mailing-list-subscribers-create.html
  client/app/email-domain/mailing-list/subscribers/delete/email-domain-mailing-list-subscribers-delete.html
  client/app/index.js
  client/app/mailing-list/translations/Messages_fr_FR.xml
  client/app/webUniverseComponents/fileEditor/file-editor.directive.js
  client/app/webUniverseComponents/fileEditor/file-editor.html
  client/app/webUniverseComponents/fileEditor/file-editor.less
  client/app/webUniverseComponents/fileEditor/index.js
  client/app/webUniverseComponents/fileEditor/translations/Messages_fr_FR.xml
  client/app/webUniverseComponents/index.js
  package.json
  yarn.lock
Labels: :santa: one-manager, quality check ok, translation required

#736 Fix/tooltip hosting limit decimal
  client/app/hosting/general-informations/GENERAL_INFORMATIONS.html
  client/app/hosting/statistics/hosting-statistics.controller.js
Labels: bug, quality check ok

#735 refactor(components.duration): move to webUniverseComponents
  client/app/components/duration/durationFilter.js
  client/app/core/translations/Messages_fr_FR.xml
  client/app/hosting/bandwidth/order/hosting-bandwidth-order.html
  client/app/hosting/cdn/order/hosting-cdn-order.html
  client/app/hosting/database/order/hosting-database-order.html
  client/app/hosting/offer/upgrade/hosting-offer-upgrade.html
  client/app/private-database/database/ram/update/private-database-database-ram-update.html
  client/app/private-database/order/private-database-order.html
  client/app/private-database/order/sql-database-order.html
  client/app/webUniverseComponents/duration/durationFilter.js
  client/app/webUniverseComponents/duration/index.js
  client/app/webUniverseComponents/duration/translations/Messages_fr_FR.xml
  client/app/webUniverseComponents/index.js
Labels: :santa: one-manager, quality check ok, translation required

#719 feat(navbar): add tracking for assistance and notifications
  client/app/components/navbar/navbar-notification.service.js
  client/app/components/user/session.service.js
Labels: enhancement, quality check ok

#732 fix(*): multisite-modification returns error
  client/app/hosting/multisite/hosting-multisite.controller.js
  client/app/hosting/multisite/update/hosting-multisite-update.controller.js
  client/app/hosting/translations/Messages_fr_FR.xml
Labels: bug, quality check ok, translation required

#740 style(navbar): animate notification icon
  client/app/components/navbar/navbar-notification.service.js
  client/app/css/less/common/navbar.less
Labels: enhancement, quality check ok

#741 fix(deps): upgrade ovh-ui-kit to v2.22.0
  package.json
  yarn.lock
Labels: bug

#745 fix(deps): upgrade ovh-module-exchange to v9.0.5
  package.json
  yarn.lock
Labels: bug

#746 fix: prevent warning 'Tried to load AngularJS more than once'
  client/app/index.js
Labels: bug

#752 fix(exchange): upgrade ovh-module-exchange to v9.0.6
  package.json
  yarn.lock
Labels: bug

#734 refactor(components.screenshot): remove unused component
  client/app/components/screenshot/screenshot.service.js
  client/app/domain/general-informations/domain-general-informations.controller.js
  client/app/hosting/hosting.controller.js
Labels: :santa: one-manager, quality check ok

#729 refactor(components.paginationfront): remove unused component
  client/app/components/pagination-front/pagination-front.less
  client/app/css/source.less
  package.json
  yarn.lock
Labels: :santa: one-manager, quality check ok

#751 Feat/track guide links
  client/app/config/constants.config.js
  client/app/configuration/configuration.html
Labels: feature, quality check ok

#764 fix(deps): update manager-webpack-config to v2.4.7
  package.json
  yarn.lock
Labels: bug

#761 refactor: remove some script-loader
  client/app/app.js
  client/app/index.js
  package.json
  yarn.lock
Labels: enhancement

#770 fix(i18n): retrieve translations
  client/app/hosting/translations/Messages_de_DE.xml
  client/app/mailing-list/translations/Messages_en_ASIA.xml
  client/app/mailing-list/translations/Messages_en_AU.xml
  client/app/mailing-list/translations/Messages_en_CA.xml
  client/app/mailing-list/translations/Messages_en_GB.xml
  client/app/mailing-list/translations/Messages_en_SG.xml
  client/app/mailing-list/translations/Messages_en_US.xml
Labels: bug

#750 feat(components.converter): add units for binary system
  client/app/webUniverseComponents/converter/converter.factory.js
  client/app/webUniverseComponents/converter/converter.service.js
  client/app/webUniverseComponents/converter/index.js
Labels: :santa: one-manager, enhancement, quality check ok

#763 fix(dnszone.deletion): fix number of issues deleted
  client/app/domain/translations/Messages_fr_FR.xml
Labels: bug, quality check ok, translation required

#766 fix(hosting): expired service error msg
  client/app/hosting/hosting.controller.js
Labels: bug, quality check ok

#776 build(*): remove useless dependency
  package.json
  yarn.lock
Labels: enhancement

#774 fix(icons): use different icon for domains and DNS
  client/app/components/sidebar-menu/sidebar-menu.config.js
  client/app/css/less/common/icon.less
  package.json
  yarn.lock
Labels: bug, quality check ok

#777 fix(ui-angular): ovh-ui-angular patch update
  package.json
  yarn.lock
Labels: bug

#700 refactor(components.api): move to webUniverseComponents
  client/app/components/api/Api.js
  client/app/hosting/order/hosting-order.service.js
  client/app/webUniverseComponents/api/Api.js
  client/app/webUniverseComponents/api/index.js
  client/app/webUniverseComponents/index.js
Labels: :santa: one-manager, quality check ok

#721 refactor(components.incrementnumber): move to webUniverseComponents
  client/app/components/incrementNumber/incrementNumber.less
  client/app/css/source.less
  client/app/webUniverseComponents/incrementNumber/incrementNumber.html
  client/app/webUniverseComponents/incrementNumber/incrementNumber.js
  client/app/webUniverseComponents/incrementNumber/incrementNumber.less
  client/app/webUniverseComponents/incrementNumber/index.js
  client/app/webUniverseComponents/index.js
Labels: :santa: one-manager, quality check ok

#718 refactor(components.string): move to webUniverseComponents
  client/app/hosting/user-logs/USER_LOGS.html
  client/app/private-database/whitelist/private-database-whitelist.html
  client/app/webUniverseComponents/index.js
  client/app/webUniverseComponents/string/SliceContent.js
  client/app/webUniverseComponents/string/SliceEmail.js
  client/app/webUniverseComponents/string/index.js
Labels: :santa: one-manager, quality check ok

#699 refactor(components.chartjs): move to webUniverseComponents
  client/app/components/chartjs/chartjs.constant.js
  client/app/hosting/automated-emails/AUTOMATED_EMAILS.html
  client/app/hosting/automated-emails/hosting-automated-emails.constant.js
  client/app/hosting/automated-emails/hosting-automated-emails.controller.js
  client/app/hosting/statistics/STATISTICS.html
  client/app/hosting/statistics/hosting-statistics.constant.js
  client/app/hosting/statistics/hosting-statistics.controller.js
  client/app/index.js
  client/app/private-database/metrics/private-database-metrics.constant.js
  client/app/private-database/metrics/private-database-metrics.controller.js
  client/app/private-database/metrics/private-database-metrics.html
  client/app/webUniverseComponents/chartjs/chartjs.constant.js
  client/app/webUniverseComponents/chartjs/chartjs.directive.js
  client/app/webUniverseComponents/chartjs/chartjs.factory.js
  client/app/webUniverseComponents/chartjs/chartjs.html
  client/app/webUniverseComponents/chartjs/index.js
  client/app/webUniverseComponents/index.js
Labels: :santa: one-manager, quality check ok

#739 refactor(components.validator): move to webUniverseComponents
  .eslintrc.json
  client/app/components/validator/validator.service.js
  client/app/domain/dns/domain-dns.controller.js
  client/app/domain/domain-validator.service.js
  client/app/domain/dynhost/add/domain-dynhost-add.controller.js
  client/app/domain/dynhost/edit/domain-dynhost-edit.controller.js
  client/app/domain/dynhost/login/add/domain-dynhost-login-add.controller.js
  client/app/domain/dynhost/login/edit/domain-dynhost-login-edit.controller.js
  client/app/domain/glue/add/domain-glue-add-or-edit.controller.js
  client/app/domain/redirection/add/domain-redirection-add.controller.js
  client/app/domain/redirection/edit/domain-redirection-edit.controller.js
  client/app/domain/zone/record/domain-zone-record.controller.js
  client/app/hosting/multisite/add/hosting-multisite-add.controller.js
  client/app/hosting/ssl/order/hosting-order-ssl.controller.js
  client/app/index.js
  client/app/private-database/database/add/private-database-database-add.controller.js
  client/app/private-database/whitelist/add/private-database-whitelist-add.controller.js
  client/app/private-database/whitelist/update/private-database-whitelist-update.controller.js
  client/app/webUniverseComponents/index.js
  client/app/webUniverseComponents/validator/index.js
  client/app/webUniverseComponents/validator/validator.service.js
  package.json
  yarn.lock
Labels: :santa: one-manager, quality check ok

#723 replace component `loader` by `oui-spinner`
  client/app/components/loader/loader.directive.js
  client/app/components/loader/loader.html
  client/app/domain-operation/domain-operation.html
  client/app/domain/dns/DNS.html
  client/app/domain/dynhost/domain-dynhost.html
  client/app/domain/dynhost/login/domain-dynhost-login.html
  client/app/domain/redirection/REDIRECTION.html
  client/app/domain/uk-transfert-tag/domain-uk-transfert-tag.html
  client/app/domain/zone/ZONE.html
  client/app/domains/domains.html
  client/app/email-domain/delegate/account/email-domain-delegate-account.html
  client/app/email-domain/delegate/responder/email-domain-delegate-responder.html
  client/app/email-domain/email/account/email-domain-email-account.html
  client/app/email-domain/email/acl/email-domain-email-acl.html
  client/app/email-domain/mailing-list/email-domain-mailing-list-view.html
  client/app/email-domain/mailing-list/moderators/email-domain-mailing-list-moderators-view.html
  client/app/email-domain/mailing-list/subscribers/email-domain-mailing-list-subscribers-view.html
  client/app/feedback/feedback.html
  client/app/hosting/automated-emails/AUTOMATED_EMAILS.html
  client/app/hosting/cdn/order/hosting-cdn-order.html
  client/app/hosting/cron/CRON.html
  client/app/hosting/freedom/FREEDOM.html
  client/app/private-database/database/list/private-database-database-list.html
  client/app/private-database/database/ram/update/private-database-database-ram-update.html
  client/app/private-database/database/user/private-database-database-user.html
  client/app/private-database/order/sql-database-order.html
  client/app/private-database/user/grants/private-database-user-grants.html
  client/app/webUniverseComponents/fileEditor/file-editor.html
  client/app/website/configuration.html
  client/app/website/success/success.html
Labels: :santa: one-manager, quality check ok

#785 fix(deps): upgrade ovh-module-emailpro to v7.0.8
  package.json
  yarn.lock
Labels: bug

#730 refactor(components.tabs): move to webUniverseComponents
  client/app/components/directives.module.js
  client/app/components/tabs/tabs.directive.js
  client/app/core/translations/Messages_fr_FR.xml
  client/app/dns-zone/dns-zone.html
  client/app/domain/domain.html
  client/app/email-domain/email-domain.html
  client/app/hosting/hosting.html
  client/app/index.js
  client/app/private-database/private-database.html
  client/app/webUniverseComponents/index.js
  client/app/webUniverseComponents/tabs/index.js
  client/app/webUniverseComponents/tabs/tabs.directive.js
  client/app/webUniverseComponents/tabs/tabs.html
  client/app/webUniverseComponents/tabs/translations/Messages_fr_FR.xml
  package.json
  yarn.lock
Labels: :santa: one-manager, quality check ok, translation required

#772 refactor(components.guides): move to webUniverseComponent
  client/app/app.js
  client/app/components/guides/guides.js
  client/app/components/guides/guides.less
  client/app/config/constants.config.js
  client/app/core/translations/Messages_fr_FR.xml
  client/app/css/source.less
  client/app/dns-zone/new/dns-zone-new.html
  client/app/domain/dns/DNS.html
  client/app/domain/dnssec/DNSSEC.html
  client/app/domain/dynhost/domain-dynhost.html
  client/app/domain/general-informations/GENERAL_INFORMATIONS.html
  client/app/domain/glue/GLUE.html
  client/app/domain/redirection/REDIRECTION.html
  client/app/domain/zone/ZONE.html
  client/app/email-domain/delegate/responder/email-domain-delegate-responder.html
  client/app/email-domain/email/account/email-domain-email-account.html
  client/app/email-domain/email/filter/email-domain-email-filter.html
  client/app/email-domain/email/redirection/email-domain-email-redirection.html
  client/app/email-domain/email/responder/email-domain-email-responder.html
  client/app/email-domain/general-informations/email-domain-general-informations.html
  client/app/email-domain/mailing-list/email-domain-mailing-list-view.html
  client/app/email/translations/Messages_fr_FR.xml
  client/app/webUniverseComponents/guides/guides.constant.js
  client/app/webUniverseComponents/guides/guides.directive.js
  client/app/webUniverseComponents/guides/guides.html
  client/app/webUniverseComponents/guides/guides.less
  client/app/webUniverseComponents/guides/index.js
  client/app/webUniverseComponents/guides/translations/Messages_fr_FR.xml
  client/app/webUniverseComponents/index.js
Labels: :santa: one-manager, quality check ok, translation required

#788 fix(i18n): retrieve translations
  client/app/core/translations/Messages_cs_CZ.xml
  client/app/core/translations/Messages_de_DE.xml
  client/app/core/translations/Messages_en_ASIA.xml
  client/app/core/translations/Messages_en_AU.xml
  client/app/core/translations/Messages_en_CA.xml
  client/app/core/translations/Messages_en_GB.xml
  client/app/core/translations/Messages_en_SG.xml
  client/app/core/translations/Messages_en_US.xml
  client/app/core/translations/Messages_es_ES.xml
  client/app/core/translations/Messages_es_US.xml
  client/app/core/translations/Messages_fi_FI.xml
  client/app/core/translations/Messages_fr_CA.xml
  client/app/core/translations/Messages_it_IT.xml
  client/app/core/translations/Messages_lt_LT.xml
  client/app/core/translations/Messages_nl_NL.xml
  client/app/core/translations/Messages_pl_PL.xml
  client/app/core/translations/Messages_pt_PT.xml
  client/app/mailing-list/translations/Messages_en_ASIA.xml
  client/app/mailing-list/translations/Messages_en_AU.xml
  client/app/mailing-list/translations/Messages_en_CA.xml
  client/app/mailing-list/translations/Messages_en_GB.xml
  client/app/mailing-list/translations/Messages_en_SG.xml
  client/app/mailing-list/translations/Messages_en_US.xml
  client/app/webUniverseComponents/guides/translations/Messages_cs_CZ.xml
  client/app/webUniverseComponents/guides/translations/Messages_de_DE.xml
  client/app/webUniverseComponents/guides/translations/Messages_en_ASIA.xml
  client/app/webUniverseComponents/guides/translations/Messages_en_AU.xml
  client/app/webUniverseComponents/guides/translations/Messages_en_CA.xml
  client/app/webUniverseComponents/guides/translations/Messages_en_GB.xml
  client/app/webUniverseComponents/guides/translations/Messages_en_SG.xml
  client/app/webUniverseComponents/guides/translations/Messages_en_US.xml
  client/app/webUniverseComponents/guides/translations/Messages_es_ES.xml
  client/app/webUniverseComponents/guides/translations/Messages_es_US.xml
  client/app/webUniverseComponents/guides/translations/Messages_fi_FI.xml
  client/app/webUniverseComponents/guides/translations/Messages_fr_CA.xml
  client/app/webUniverseComponents/guides/translations/Messages_it_IT.xml
  client/app/webUniverseComponents/guides/translations/Messages_lt_LT.xml
  client/app/webUniverseComponents/guides/translations/Messages_nl_NL.xml
  client/app/webUniverseComponents/guides/translations/Messages_pl_PL.xml
  client/app/webUniverseComponents/guides/translations/Messages_pt_PT.xml
  client/app/webUniverseComponents/tabs/translations/Messages_cs_CZ.xml
  client/app/webUniverseComponents/tabs/translations/Messages_de_DE.xml
  client/app/webUniverseComponents/tabs/translations/Messages_en_ASIA.xml
  client/app/webUniverseComponents/tabs/translations/Messages_en_AU.xml
  client/app/webUniverseComponents/tabs/translations/Messages_en_CA.xml
  client/app/webUniverseComponents/tabs/translations/Messages_en_GB.xml
  client/app/webUniverseComponents/tabs/translations/Messages_en_SG.xml
  client/app/webUniverseComponents/tabs/translations/Messages_en_US.xml
  client/app/webUniverseComponents/tabs/translations/Messages_es_ES.xml
  client/app/webUniverseComponents/tabs/translations/Messages_es_US.xml
  client/app/webUniverseComponents/tabs/translations/Messages_fi_FI.xml
  client/app/webUniverseComponents/tabs/translations/Messages_fr_CA.xml
  client/app/webUniverseComponents/tabs/translations/Messages_it_IT.xml
  client/app/webUniverseComponents/tabs/translations/Messages_lt_LT.xml
  client/app/webUniverseComponents/tabs/translations/Messages_nl_NL.xml
  client/app/webUniverseComponents/tabs/translations/Messages_pl_PL.xml
  client/app/webUniverseComponents/tabs/translations/Messages_pt_PT.xml
Labels: bug

#775 fix(domain): send correct tld to order alldom
  client/app/domain/domain.controller.js
Labels: bug, quality check ok

#771 refactor(components.working-status): remove component
  client/app/components/working-status/working-status-modal.controller.js
  client/app/components/working-status/working-status-modal.html
  client/app/components/working-status/working-status.directive.js
  client/app/components/working-status/working-status.html
  client/app/core/translations/Messages_fr_FR.xml
  client/app/private-database/private-database.controller.js
  client/app/private-database/private-database.html
Labels: :santa: one-manager, quality check ok, translation required

#773 fix(add-status): add status message to ftp backup
  client/app/email-domain/email/responder/email-domain-email-responder.html
  client/app/hosting/task/TASK.html
  client/app/hosting/translations/Messages_fr_FR.xml
Labels: bug, quality check ok, translation required

#778 fix(translation): email status is not translated
  client/app/email/translations/Messages_fr_FR.xml
Labels: bug, quality check ok, translation required

#790 fix(displayname-fix): fix display names of email and domain
  client/app/dns-zone/dns-zone.controller.js
  client/app/email-domain/email-domain.controller.js
  client/app/email-domain/email-domain.html
Labels: bug, quality check ok

#799 fix(deps): ugrade ovh-angular-sidebar-menu to v7.2.2
  package.json
  yarn.lock
Labels: bug

#789 Bugfix/db version text
  client/app/private-database/translations/Messages_fr_FR.xml
Labels: bug, quality check ok, translation required
